<div class="page-header">
  <h1>About Me</h1>
</div>
<div>
  <p class="lead">
    I have a passion for staying up to date on the latest technology and application development tools and trends.
  </p>
  <p>
    I think of myself as a very detail-oriented and self-motivated person, and love the challenges that software development brings and the creative thinking it requires. I'm a firm believer in working smarter, not harder, and try to leverage whatever frameworks and tools are available.
  </p>
  <p>
    I graduated from <strong>Marist College</strong> in 2014 with a degree in Computer Science and a minor in Information Technology, with a concentration in Game Design & Programming.
  </p>
  <p class="lead">
    I am currently in the Operations, Technology & Data Leadership Development Program at <strong>The Hartford</strong>.
  </p>
  <p>
    So far, I have worked as a technical analyst within the Chief Technology Office, and as an application developer in Personal Lines IT. During school, I also held a summer internship working as a developer in Enterprise Risk Management IT.
  </p>
  <p>
    As a technical analyst, I learned about the infrastructure of a large enterprise, and how it is managed. This included identifying cost-saving opportunities by retiring and upgrading old hardware and software, and moving towards virtualization.
  </p>
  <p>
    As a developer, I gained a new perspective as how applications are created and managed in a large company. My role brought me through multiple phases of an IT project, learning how requirements are gathered and implemented into a final product.
  </p>
</div>
