extends layout
include mixins/article.jade
include mixins/form_input.jade

block content
  +article('contact', articles.contact)
    form(method='post')
        each field in form
            +input(field.type, 
                field.name, 
                field.label, 
                field.placeholder,
                field.value,
                field.error
            )
        button(class='btn btn-default', type='submit') Send

            
    