doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    block scripts
    - var articles = {'about':'About Me', 'portfolio':'Portfolio', 'work':'Work Experience', 'contact':'Contact Me'}
    
  body
    include partials/navbar.jade
    .container                
        block content
        
        