.nav.navbar-right>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.profile {
    max-height: 120px;   
}

#carousel, #carousel .item, #carousel img {
    height: 200px;
}

#carousel .carousel-indicators li {
    border-color: #aaa;   
}

#carousel .carousel-control {
    background: none;   
    color: black;
}